# Data & Databases Final Project: NYC Housing Data

## Installing nyc-db using CLI

- Create a new database in PostgreSQL  
`=# CREATE DATABASE my_nycdb;`
- Install nyc-db command-line tool in terminal  
`$ pip install nycdb`
- `cd` to the directory for nyc-db downloads
- List all datasets available in nyc-db  
`$ nycdb --list-datasets`
- Download the dataset wanted to current directory  
`$ nycdb --download dataset_name`
- Move the downloaded dataset to PostgreSQL (into the database named `my_nycdb`)  
`$ nycdb --load dataset_name -D my_nycdb`
- Make sure the datasets in `my_nycdb` are complete  
`$ nycdb --verify-all -D my_nycdb`

## Developing a research question

The nyc-db provides a plethora of housing-related data and it is pretty easy to get lost when approaching it. After some brainstorming I decided that I was interested in schooling and housing prices in New York City (more specifically, I would like to quantify the correlation between maybe the quality of education and the property prices), and so I started reading up on the topic.

[学区房 (xué qū fáng)](https://schott.blogs.nytimes.com/2009/07/21/xue-qu-fang/), school area house, is a pretty hot topic in China, where getting a home located in a good school area is oftentimes the topmost concern for young parents. After some googling, it turned out that things were not at all different in [New York](https://cn.nytimes.com/real-estate/20130606/c06school/dual/) (click link for the NYT piece, _The Get-Into-School Card_). The first few lines of the linked NYT piece read:

> Moving to a particular neighborhood in order to land a seat at a coveted public school has long been the middle-class modus operandi for obtaining a high-quality education in New York, where placement in many elementary schools is determined by home address.

On Zhihu, the Chinese Quora, I found an [answer](https://www.zhihu.com/question/20053886) from a Chinese couple working in New York describing how they bought their ideal school area home with the schooling of their 4-year-old daughter in mind. In it they mentioned that they used [GreatSchools](https://www.greatschools.org/) to filter for, well, great schools, and to further pick homes located in the desired district.

Is GreatSchools the one go-to place for potential school-area-home buyers to get relevant information? Some keyword searches suggest that there are apparently other ranking/rating providers. Yet according to [this article on Brookings](https://www.brookings.edu/blog/brown-center-chalkboard/2017/11/06/who-is-evaluating-us-schools/), GreatSchools is indeed the "best known".

Before going ahead and scraping GreatSchools or similar websites, though, there's a series of questions that need to be answered: Why care about school rankings/ratings anyway? Are these evaluations any accurate? Are they really proper representations of the education quality in a given area? Well, although it is easy to point out, as the Brookings article did, that different rankings implement different methodologies, and more often than not they're incomplete, if not hopeless, approximations of the multi-faceted reality of education (like so many other data-based social analyses are), we may still use them in this case, since what we care about in the end is the correlation between the quality of those schools and the property price; and the prices are determined by market players; and market players use these rankings as a reference, an information source. When everyone (or almost everyone) lives in the illusion, illusion becomes reality. (Also read: [What to know before using school ratings tools from real estate companies](https://www.washingtonpost.com/news/answer-sheet/wp/2017/06/14/what-to-know-before-using-school-ratings-tools-from-real-estate-companies/?utm_term=.56710aee9674))

After the above justification, however, I still had qualms about simply building a dataset with the rankings and the prices as its main variables. From what I understand, the pricing of a commodity like houses is usually quite complex, and if my dataset only includes one independent variable, that would make it a terrible simplification. Thus, my **research question(s)**:

- Suppose that homes in highly-rated public school districts are more expensive. How influential a part does school rating (which represents education quality) play in the pricing of homes? What if we include private schools into our consideration? Do highly-rated school districts also possess more presumably desirable features? What might these features be and, what are their roles in the pricing process?

## Querying nyc-db in PostgreSQL

With these research questions in mind, I started to extract the data I need from nyc-db.

- `my_nycdb=# \dt`  
This query lists all relation tables in the database.


- `my_nycdb=# \d pluto_17v1`

|        Column        |     Type      | Collation | Nullable | Default |
|-----------------------------------------------------------------------|
| borough              | text          |           |          |         |
| block                | integer       |           |          |         |
| lot                  | integer       |           |          |         |
| cd                   | smallint      |           |          |         |
| ct2010               | text          |           |          |         |
| cb2010               | text          |           |          |         |
| schooldist           | smallint      |           |          |         |
| council              | smallint      |           |          |         |
| zipcode              | character(5)  |           |          |         |
| firecomp             | text          |           |          |         |
| policeprct           | text          |           |          |         |
| healthcenterdistrict | smallint      |           |          |         |
| healtharea           | text          |           |          |         |
| sanitboro            | character(1)  |           |          |         |
| sanitdistrict        | smallint      |           |          |         |
| sanitsub             | character(2)  |           |          |         |
| address              | text          |           |          |         |
| zonedist1            | text          |           |          |         |
| zonedist2            | text          |           |          |         |
| zonedist3            | text          |           |          |         |
| zonedist4            | text          |           |          |         |
| overlay1             | text          |           |          |         |
| overlay2             | text          |           |          |         |
| spdist1              | text          |           |          |         |
| spdist2              | text          |           |          |         |
| spdist3              | text          |           |          |         |
| ltdheight            | text          |           |          |         |
| splitzone            | boolean       |           |          |         |
| bldgclass            | character(2)  |           |          |         |
| landuse              | smallint      |           |          |         |
| easements            | text          |           |          |         |
| ownertype            | character(1)  |           |          |         |
| ownername            | text          |           |          |         |
| lotarea              | bigint        |           |          |         |
| bldgarea             | bigint        |           |          |         |
| comarea              | bigint        |           |          |         |
| resarea              | bigint        |           |          |         |
| officearea           | bigint        |           |          |         |
| retailarea           | bigint        |           |          |         |
| garagearea           | bigint        |           |          |         |
| strgearea            | bigint        |           |          |         |
| factryarea           | bigint        |           |          |         |
| otherarea            | bigint        |           |          |         |
| areasource           | text          |           |          |         |
| numbldgs             | integer       |           |          |         |
| numfloors            | numeric       |           |          |         |
| unitsres             | integer       |           |          |         |
| unitstotal           | integer       |           |          |         |
| lotfront             | numeric       |           |          |         |
| lotdepth             | numeric       |           |          |         |
| bldgfront            | numeric       |           |          |         |
| bldgdepth            | numeric       |           |          |         |
| ext                  | text          |           |          |         |
| proxcode             | character(1)  |           |          |         |
| irrlotcode           | boolean       |           |          |         |
| lottype              | character(1)  |           |          |         |
| bsmtcode             | character(1)  |           |          |         |
| assessland           | bigint        |           |          |         |
| assesstot            | bigint        |           |          |         |
| exemptland           | bigint        |           |          |         |
| exempttot            | bigint        |           |          |         |
| yearbuilt            | smallint      |           |          |         |
| yearalter1           | smallint      |           |          |         |
| yearalter2           | smallint      |           |          |         |
| histdist             | text          |           |          |         |
| landmark             | text          |           |          |         |
| builtfar             | numeric       |           |          |         |
| residfar             | numeric       |           |          |         |
| commfar              | numeric       |           |          |         |
| facilfar             | numeric       |           |          |         |
| borocode             | character(1)  |           |          |         |
| bbl                  | character(10) |           |          |         |
| condono              | text          |           |          |         |
| tract2010            | text          |           |          |         |
| xcoord               | integer       |           |          |         |
| ycoord               | integer       |           |          |         |
| zonemap              | text          |           |          |         |
| zmcode               | character(1)  |           |          |         |
| sanborn              | text          |           |          |         |
| taxmap               | text          |           |          |         |
| edesignum            | text          |           |          |         |
| appbbl               | character(10) |           |          |         |
| appdate              | date          |           |          |         |
| plutomapid           | character(1)  |           |          |         |
| firm07flag           | character(1)  |           |          |         |
| pfirm15flag          | character(1)  |           |          |         |
| version              | text          |           |          |         |
| lng                  | numeric       |           |          |         |
| lat                  | numeric       |           |          |         |


- `my_nycdb=# \d dof_sales`

|          Column           |     Type      | Collation | Nullable |                Default                |
|----------------------------------------------------------------------------------------------------------|
| borough                   | character(1)  |           |          |                                       |
| neighborhood              | text          |           |          |                                       |
| buildingclasscategory     | text          |           |          |                                       |
| taxclassatpresent         | text          |           |          |                                       |
| block                     | character(5)  |           |          |                                       |
| lot                       | character(4)  |           |          |                                       |
| easement                  | text          |           |          |                                       |
| buildingclassatpresent    | text          |           |          |                                       |
| address                   | text          |           |          |                                       |
| apartmentnumber           | text          |           |          |                                       |
| zipcode                   | character(5)  |           |          |                                       |
| residentialunits          | integer       |           |          |                                       |
| commercialunits           | integer       |           |          |                                       |
| totalunits                | integer       |           |          |                                       |
| landsquarefeet            | integer       |           |          |                                       |
| grosssquarefeet           | integer       |           |          |                                       |
| yearbuilt                 | integer       |           |          |                                       |
| taxclassattimeofsale      | text          |           |          |                                       |
| buildingclassattimeofsale | text          |           |          |                                       |
| saleprice                 | bigint        |           |          |                                       |
| saledate                  | date          |           |          |                                       |
| bbl                       | character(10) |           |          |                                       |
| id                        | integer       |           | not null | nextval('dof_sales_id_seq'::regclass) |


- I then identified the columns I want through reading the documentaries of interest: [Pluto Data Dictionary](https://www1.nyc.gov/assets/planning/download/pdf/data-maps/open-data/pluto_datadictionary.pdf?v=17v1_1) and [Glossary of Terms for Property Sales Files](https://www1.nyc.gov/assets/finance/downloads/pdf/07pdf/glossary_rsf071607.pdf).


- I selected the identifier, `bbl`, the school district the property is in, `schooldist`, among other columns from the `pluto_17v1` dataset, and saved the result into a new table called `pluto_selected`. I used the `ownertype` column to filter for privately owned properties and blank ones, since according to the documentation the blank ones are mostly private as well.  
`my_nycdb=# SELECT bbl, ownertype, borough, schooldist, zipcode, address, xcoord, ycoord INTO pluto_selected FROM pluto_17v1 WHERE ownertype != 'C' AND ownertype != 'M' AND ownertype != 'O' AND ownertype != 'X';`


- I then seleceted `bbl`, building class, sale price and date, among others, from the `dof_sales` dataset and saved them into a new table `dof_selected`. Here I also left out building classes that are not needed in our analysis, like warehouses, offices, hospitals, schools, theaters, etc.  
`my_nycdb=# SELECT bbl, buildingclassatpresent, borough, zipcode, address, saleprice, saledate INTO dof_selected FROM dof_sales WHERE buildingclassatpresent LIKE 'A%' OR buildingclassatpresent LIKE 'B%' OR buildingclassatpresent LIKE 'C%' OR buildingclassatpresent LIKE 'D%' OR buildingclassatpresent LIKE 'L%' OR buildingclassatpresent = 'RR' OR buildingclassatpresent = 'R1' OR buildingclassatpresent = 'R2' OR buildingclassatpresent = 'R3' OR buildingclassatpresent = 'R4' OR buildingclassatpresent = 'R6' OR buildingclassatpresent = 'R7' OR buildingclassatpresent = 'R8' OR buildingclassatpresent = 'R9';`


- Next, I joined the two selected tables and saved the result into a new table `joined`.  
`my_nycdb=# CREATE TABLE joined AS SELECT pluto_selected.ownertype, pluto_selected.borough, pluto_selected.schooldist, pluto_selected.zipcode, pluto_selected.address, pluto_selected.xcoord, pluto_selected.ycoord, dof_selected.buildingclassatpresent, dof_selected.saleprice, dof_selected.saledate FROM pluto_selected JOIN dof_selected ON (pluto_selected.bbl = dof_selected.bbl);`


- Then I exported the `joined` table to a csv file.  
`COPY joined TO 'joined.csv' DELIMITER ',' CSV HEADER;`


- Note that up to this point I haven't included any independent variable other than the school districts. With the data at hand, I decided to do some preliminary analysis first.

## Preliminary analysis

### Scraping [GreatSchools](https://www.greatschools.org/)

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

In [2]:
pd.set_option('display.max_columns',999)

In [3]:
# Search for New York schools by hand.
# Found 1120 schools displayed over 45 pages.
# But only the first 14 pages are schools WITH a rating.

In [ ]:
# GreatSchools scraper
data = []
for page in range(1,14):
    results_page = bs(requests.get('https://www.greatschools.org/new-york/new-york/schools/?page={}'.format(page)).content, 'html.parser')
    results = results_page.findAll('div', class_='pvm gs-bootstrap js-schoolSearchResult js-schoolSearchResultCompareErrorMessage')
    for result in results:
        school = {}
        row = result.div.find('div', class_='row')
        school['schoolname'] = row.find('a', class_='open-sans_sb mbs font-size-medium rs-schoolName').text
        url = 'https://www.greatschools.org{}'.format(row.find('a', class_='open-sans_sb mbs font-size-medium rs-schoolName').get('href'))
        school['schooladdress'] = row.find('div', class_='hidden-xs font-size-small rs-schoolAddress').text
        school['rating'] = row.find('span', class_='gs-rating').text.strip()
        schooldist_page = bs(requests.get(url).content, 'html.parser')
        school['schooldist'] = schooldist_page.find('div', class_='school-contact__item school-contact__district-name').text.strip()
        data.append(school)

In [ ]:
pd.DataFrame(data).to_csv('school_ratings.csv', index=False)

In [4]:
df_school = pd.read_csv('school_ratings.csv')

In [5]:
df_school.head()

,rating,schooladdress,schooldist,schoolname
0,10,"522 West 44th Street, New York, NY 10036",Nyc Geog District # 3 - Manhattan,Beacon High School
1,10,"45 East 81st Street, New York, NY 10028",Nyc Geog District # 2 - Manhattan,Ps 6 Lillie D Blake
2,10,"319 East 19th Street, New York, NY 10003",Nyc Geog District # 2 - Manhattan,P.S. 40 Augustus St.-Gaudens
3,10,"116 West 11th Street, New York, NY 10011",Nyc Geog District # 2 - Manhattan,P.S. 41 Greenwich Village
4,10,"103 West 107th Street, New York, NY 10025",Nyc Geog District # 3 - Manhattan,Jhs 54 Booker T Washington

### (Try) calculating average rating for each school district from GreatSchools data

In [6]:
# First look at how many school districts are included in the GreatSchools dataset.
df_school.schooldist.value_counts()

Nyc Geog District # 2 - Manhattan    109
Nyc Geog District # 3 - Manhattan     50
Nyc Geog District # 6 - Manhattan     50
Nyc Geog District # 4 - Manhattan     36
Nyc Geog District # 5 - Manhattan     35
Nyc Geog District # 1 - Manhattan     32
Nyc Geog District #10 - Bronx          7
Nyc Geog District #19 - Brooklyn       4
Jefferson Central School District      1
Nyc Geog District #24 - Queens         1
Name: schooldist, dtype: int64

But wait, this doesn't look good. One, the dataset only covers 10 school districts (since a lot of the schools are not rated). And two, some of these school districts covered have less than 10 representing schools. It is necessary that we use other rating websites to supplement our data.

### Scraping SchoolDigger

Going back to [the Brookings piece](https://www.brookings.edu/blog/brown-center-chalkboard/2017/11/06/who-is-evaluating-us-schools/), [SchoolDigger](https://www.schooldigger.com/) is another source we could use. After some digging, it turns out that SchoolDigger actually holds a rating for school districts, which is most convenient for our analysis purposes.

SchoolDigger's result pages don't have a `page=` part in their urls for BeautifulSoup to loop through. Therefore, I use Selenium instead to scrape all pages of results.

In [ ]:
# SchoolDigger scraper

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select

driver = webdriver.Chrome()

# Open up the NY school districts ranking results page
driver.get('https://www.schooldigger.com/go/NY/districtrank.aspx')

search = driver.find_element_by_name('DataTables_Table_0_length')
search.send_keys('100')
search.send_keys(Keys.RETURN)

time.sleep(1)

data = []
for page in range(0,11):
    rows = driver.find_elements_by_tag_name('tr')[1:]
    for row in rows:
        row_data = {}
        cells = row.find_elements_by_tag_name('td')
        try:
            row_data['rank'] = cells[0].text
            row_data['district'] = cells[1].text
            row_data['grades'] = cells[2].text
            row_data['number_elementary_schools'] = cells[3].text
            row_data['number_middle_schools'] = cells[4].text
            row_data['number_high_schools'] = cells[5].text
            row_data['number_alt_schools'] = cells[6].text
            row_data['city'] = cells[7].text
            row_data['county'] = cells[8].text
            row_data['rank_score_2017'] = cells[9].text
            row_data['rank_2016'] = cells[10].text
            row_data['rank_change'] = cells[11].text
            row_data['sd_rating'] = len(cells[12].find_elements_by_class_name('glyphicon-star'))
        except:
            pass
        data.append(row_data)
    time.sleep(1)
    next_button = driver.find_element_by_partial_link_text('Next')
    driver.execute_script('arguments[0].scrollIntoView(true)', search)
    try:
        next_button.click()
    except:
        pass

In [ ]:
pd.DataFrame(data).to_csv('schooldigger_data.csv', index=False)

In [7]:
df_sd = pd.read_csv('schooldigger_data.csv')

In [8]:
df_sd.head()

,city,county,district,grades,number_alt_schools,number_elementary_schools,number_high_schools,number_middle_schools,rank,rank_2016,rank_change,rank_score_2017,sd_rating
0,Brooklyn,Kings,Success Academy Charter School - Bed Stuy 1,K-6,0,1,0,0,1st,2.0,1,0.998,5
1,New York,New York,Success Academy Charter School-Upper West,K-6,0,1,0,0,2nd,3.0,1,0.997,5
2,Bronx,Bronx,Success Academy Charter School-Bronx 1,K-7,0,1,0,0,3rd,1.0,2,0.996,5
3,Bronx,Bronx,Success Academy Charter School-Bronx 2,K-7,0,1,0,0,4th,4.0,NaN,0.995,5
4,Brooklyn,Kings,Success Academy Charter School-Crown Heights,K-4,0,1,0,0,5th,NaN,(n/a),0.995,5

### Cleaning up SchoolDigger data

In [9]:
df_sd.tail(3)

,city,county,district,grades,number_alt_schools,number_elementary_schools,number_high_schools,number_middle_schools,rank,rank_2016,rank_change,rank_score_2017,sd_rating
1030,La Fargeville,Jefferson,La Fargeville Central School District,"PK, KG-12",1,0,0,0,NaN,NaN,(n/a),NaN,0
1031,Batavia,Genesee,New York State School For The Blind,2-12,1,0,0,0,NaN,NaN,(n/a),NaN,0
1032,Roscoe,Sullivan,Roscoe Central School District,"PK, KG-12",1,0,0,0,NaN,NaN,(n/a),NaN,0

In [10]:
df_sd.dropna(subset=['rank_score_2017'], inplace=True)

In [11]:
df_sd.tail(3)

,city,county,district,grades,number_alt_schools,number_elementary_schools,number_high_schools,number_middle_schools,rank,rank_2016,rank_change,rank_score_2017,sd_rating
798,Brooklyn,Kings,Urban Dove Team Charter School,9-12,0,0,1,0,799th,764.0,35,0.006,0
799,Bronx,Bronx,Roads Charter School II,9-12,0,0,1,0,800th,767.0,33,0.005,0
800,Brooklyn,Kings,Roads Charter School 1,9-12,0,0,1,0,801st,768.0,33,0.002,0

In [12]:
df_sd = df_sd[(df_sd['city']=='New York')|(df_sd['city']=='Brooklyn')|(df_sd['city']=='Queens Village')|(df_sd['city']=='Bronx')|(df_sd['city']=='Staten Island')]

In [13]:
df_sd.head()

,city,county,district,grades,number_alt_schools,number_elementary_schools,number_high_schools,number_middle_schools,rank,rank_2016,rank_change,rank_score_2017,sd_rating
0,Brooklyn,Kings,Success Academy Charter School - Bed Stuy 1,K-6,0,1,0,0,1st,2.0,1,0.998,5
1,New York,New York,Success Academy Charter School-Upper West,K-6,0,1,0,0,2nd,3.0,1,0.997,5
2,Bronx,Bronx,Success Academy Charter School-Bronx 1,K-7,0,1,0,0,3rd,1.0,2,0.996,5
3,Bronx,Bronx,Success Academy Charter School-Bronx 2,K-7,0,1,0,0,4th,4.0,NaN,0.995,5
4,Brooklyn,Kings,Success Academy Charter School-Crown Heights,K-4,0,1,0,0,5th,NaN,(n/a),0.995,5

Since `df_sd` is just much more useful than `df_school` here, I'm going to use `df_sd` in ensuing analyses.

### Merging dataframes

Note: Under the `district` column in `df_sd`, entries that look like `New York City Geographic District # X` are the same as what we've been calling "school districts" (or at least I assume so after some searching), despite the naming discrepancy. The column also contains charter schools and stuff, which we don't want to include in the analysis for now.

In [14]:
# Taking all district rows that we want
df_sd_nyc = df_sd[df_sd.district.str.startswith('New York City Geographic District')]

Replacing the `district` entries with only integers:

In [15]:
df_sd_nyc['district'] = df_sd_nyc.district.str.replace('New York City Geographic District #', '')
df_sd_nyc['district'] = df_sd_nyc.district.astype('int')

/Users/Edward/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/Edward/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
df_sd_nyc.head()

,city,county,district,grades,number_alt_schools,number_elementary_schools,number_high_schools,number_middle_schools,rank,rank_2016,rank_change,rank_score_2017,sd_rating
254,Brooklyn,Kings,20,"PK, KG-12",1,31,4,7,255th,250.0,5,0.700,3
314,New York,New York,2,"PK, KG-12",8,37,62,10,315th,346.0,31,0.639,3
396,Staten Island,Richmond,31,"PK, KG-12",1,49,10,12,397th,414.0,17,0.565,3
413,Brooklyn,Kings,22,"PK, KG-12",0,27,6,6,414th,427.0,13,0.551,2
420,Brooklyn,Kings,15,"PK, KG-12",3,25,11,8,421st,459.0,38,0.543,2

In [17]:
# Read in the nyc-db data previously extracted
df_joined = pd.read_csv('joined.csv')

In [18]:
df_joined.head()

,ownertype,borough,schooldist,zipcode,address,xcoord,ycoord,buildingclassatpresent,saleprice,saledate
0,,MN,1.0,10009,199 EAST 7 STREET,989759.0,203363.0,C6,810000,2017-06-28
1,P,MN,1.0,10009,248 EAST 7 STREET,990331.0,202870.0,C6,404000,2017-07-07
2,P,MN,1.0,10009,223 EAST 3 STREET,989262.0,202492.0,D4,475000,2018-03-27
3,P,MN,1.0,10009,228 EAST 2 STREET,989140.0,202255.0,D4,0,2017-11-15
4,P,MN,1.0,10009,223 EAST 3 STREET,989262.0,202492.0,D4,790000,2017-12-09

In [19]:
df_joined['schooldist'] = df_joined.schooldist.fillna(0).astype('int')

In [20]:
df_joined.head()

,ownertype,borough,schooldist,zipcode,address,xcoord,ycoord,buildingclassatpresent,saleprice,saledate
0,,MN,1,10009,199 EAST 7 STREET,989759.0,203363.0,C6,810000,2017-06-28
1,P,MN,1,10009,248 EAST 7 STREET,990331.0,202870.0,C6,404000,2017-07-07
2,P,MN,1,10009,223 EAST 3 STREET,989262.0,202492.0,D4,475000,2018-03-27
3,P,MN,1,10009,228 EAST 2 STREET,989140.0,202255.0,D4,0,2017-11-15
4,P,MN,1,10009,223 EAST 3 STREET,989262.0,202492.0,D4,790000,2017-12-09

In [21]:
df_merged = pd.merge(df_joined, df_sd_nyc, how='left', left_on='schooldist', right_on='district', sort=False)

In [22]:
df_merged.drop(columns=['district'],inplace=True)

In [23]:
df_merged.head()

,ownertype,borough,schooldist,zipcode,address,xcoord,ycoord,buildingclassatpresent,saleprice,saledate,city,county,grades,number_alt_schools,number_elementary_schools,number_high_schools,number_middle_schools,rank,rank_2016,rank_change,rank_score_2017,sd_rating
0,,MN,1,10009,199 EAST 7 STREET,989759.0,203363.0,C6,810000,2017-06-28,New York,New York,"PK, KG-12",2.0,16.0,7.0,4.0,478th,500.0,22,0.503,2.0
1,P,MN,1,10009,248 EAST 7 STREET,990331.0,202870.0,C6,404000,2017-07-07,New York,New York,"PK, KG-12",2.0,16.0,7.0,4.0,478th,500.0,22,0.503,2.0
2,P,MN,1,10009,223 EAST 3 STREET,989262.0,202492.0,D4,475000,2018-03-27,New York,New York,"PK, KG-12",2.0,16.0,7.0,4.0,478th,500.0,22,0.503,2.0
3,P,MN,1,10009,228 EAST 2 STREET,989140.0,202255.0,D4,0,2017-11-15,New York,New York,"PK, KG-12",2.0,16.0,7.0,4.0,478th,500.0,22,0.503,2.0
4,P,MN,1,10009,223 EAST 3 STREET,989262.0,202492.0,D4,790000,2017-12-09,New York,New York,"PK, KG-12",2.0,16.0,7.0,4.0,478th,500.0,22,0.503,2.0
5,P,MN,1,10009,228 EAST 2 STREET,989140.0,202255.0,D4,1100000,2018-01-05,New York,New York,"PK, KG-12",2.0,16.0,7.0,4.0,478th,500.0,22,0.503,2.0
6,,MN,2,10011,250 WEST 21 STREET,984613.0,210141.0,C6,0,2018-01-08,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
7,,MN,2,10011,520 WEST 23 STREET,982813.0,211724.0,D4,1200000,2017-12-21,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
8,P,MN,2,10011,311 WEST 24 STREET,984464.0,211330.0,D4,8764,2017-11-20,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
9,P,MN,2,10011,311 WEST 24 STREET,984464.0,211330.0,D4,123205,2017-11-01,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
10,P,MN,2,10011,311 WEST 24 STREET,984464.0,211330.0,D4,106594,2017-08-01,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
11,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,75850,2017-07-25,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
12,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,77003,2017-10-16,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
13,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,91020,2017-07-07,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
14,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,75850,2017-07-17,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
15,P,MN,2,10011,311 WEST 24 STREET,984464.0,211330.0,D4,122744,2017-10-20,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
16,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,122283,2017-09-15,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
17,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,152277,2017-08-21,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
18,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,40761,2017-09-15,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
19,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,152854,2017-09-01,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
20,,MN,2,10011,520 WEST 23 STREET,982813.0,211724.0,D4,1080000,2017-07-18,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
21,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,137568,2017-09-15,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
22,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,76715,2017-09-27,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
23,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,151701,2017-07-01,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
24,P,MN,2,10011,311 WEST 24 STREET,984464.0,211330.0,D4,91020,2017-07-01,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
25,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,77291,2017-12-21,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
26,P,MN,2,10011,311 WEST 24 STREET,984464.0,211330.0,D4,77291,2017-12-01,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
27,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,76715,2017-10-16,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
28,P,MN,2,10011,311 WEST 24 STREET,984464.0,211330.0,D4,136531,2017-07-21,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
29,P,MN,2,10001,270 9 AVENUE,984813.0,211962.0,D4,91020,2017-07-05,New York,New York,"PK, KG-12",8.0,37.0,62.0,10.0,315th,346.0,31,0.639,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56747,,SI,31,10307,589 ROCKAWAY STREET,917594.0,122564.0,A1,850000,2017-12-08,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56748,,SI,31,10307,675 YETMAN AVENUE,917651.0,121304.0,A1,201400,2017-08-15,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56749,,SI,31,10307,7 NINO COURT,919578.0,123673.0,A1,915406,2017-10-02,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56750,,SI,31,10307,342 MANHATTAN STREET,NaN,NaN,B2,880786,2018-03-23,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56751,,SI,31,10307,35 CHELSEA STREET,916002.0,124561.0,B2,899000,2018-04-27,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56752,,SI,31,10307,27 MASSACHUSETTS STREET,914569.0,122974.0,B2,815000,2017-11-16,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56753,,SI,31,10314,103 CHURCH AVENUE,932763.0,155175.0,A5,335000,2018-04-17,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56754,,SI,31,10314,184 MELVIN AVENUE,931593.0,154481.0,A2,0,2017-10-19,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56755,,SI,31,10314,196 MELVIN AVENUE,931681.0,154409.0,A2,150000,2017-07-14,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56756,,SI,31,10314,21 PARISH AVENUE,931581.0,155401.0,B9,530000,2017-12-28,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56757,,SI,31,10310,26 CORNELL AVENUE,949453.0,169068.0,A2,0,2017-10-16,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56758,,SI,31,10301,406 CASTLETON AVENUE,957546.0,169957.0,A5,500,2017-07-24,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56759,,SI,31,10310,31 RAYMOND PLACE,949472.0,168762.0,A5,468000,2017-09-20,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56760,,SI,31,10310,460 DELAFIELD AVENUE,952650.0,169141.0,A1,0,2018-04-20,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56761,,SI,31,10301,406 CASTLETON AVENUE,957546.0,169957.0,A5,182810,2017-09-28,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56762,,SI,31,10310,89 BODINE STREET,949499.0,171125.0,B2,206069,2018-02-07,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56763,,SI,31,10302,35 BRYSON AVENUE,944478.0,165663.0,A2,550000,2017-12-14,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56764,,SI,31,10314,15 IOWA PLACE,946600.0,163130.0,A1,460000,2017-11-08,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56765,,SI,31,10314,347 MAINE AVENUE,946731.0,165469.0,B2,715000,2017-12-27,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56766,,SI,31,10314,33 CAMBRIDGE AVENUE,942934.0,163911.0,B2,799000,2017-08-08,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56767,,SI,31,10314,14 NILES PLACE,946876.0,157696.0,A1,695000,2017-08-04,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56768,,SI,31,10314,140 BYRNE AVENUE,946914.0,161949.0,A2,535000,2017-10-31,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56769,,SI,31,10314,46 ARDMORE AVENUE,945513.0,161623.0,A5,557000,2017-10-25,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56770,,SI,31,10314,881 WILLOWBROOK ROAD,944295.0,159487.0,A1,550000,2017-09-26,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56771,,SI,31,10314,976 WESTWOOD AVENUE,944165.0,159871.0,A1,0,2018-03-05,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56772,,SI,31,10314,12 FIELD STREET,944730.0,155596.0,B9,0,2018-02-28,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56773,,SI,31,10309,23 SONIA COURT,923411.0,134188.0,A5,0,2017-12-22,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56774,,SI,31,10309,BLOOMINGDALE ROAD,NaN,NaN,A5,661861,2018-03-26,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56775,,SI,31,10309,719 RAMONA AVENUE,925926.0,134506.0,A5,0,2017-12-19,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0
56776,,SI,31,10309,32 TRINA LANE,923169.0,136557.0,B9,530000,2018-01-09,Staten Island,Richmond,"PK, KG-12",1.0,49.0,10.0,12.0,397th,414.0,17,0.565,3.0

### Simplest OLS

Note to self:
- when installing new libraries to use in jupyter notebook, use `pip3 install` in terminal instead of `pip install`
- `StatsModels` has some dependencies including `SciPy`

In [24]:
import statsmodels.formula.api as sm
y = df_merged['saleprice']
x = df_merged['rank_score_2017']
model = sm.OLS(y, x, missing='drop')
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              saleprice   R-squared:                       0.022
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                     873.0
Date:                Fri, 06 Jul 2018   Prob (F-statistic):          8.66e-190
Time:                        09:03:28   Log-Likelihood:            -6.6497e+05
No. Observations:               39171   AIC:                         1.330e+06
Df Residuals:                   39170   BIC:                         1.330e+06
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
rank_score_2017  1.777e+06   6.01e+04     29.547      0.000    1.66e+06    1.89e+06
==============================================================================
Omnibus:                   156215.060   Durbin-Watson:                   1.969
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     329491831280.295
Skew:                         101.154   Prob(JB):                         0.00
Kurtosis:                   14209.974   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Main takeaway: `coef` is greater than 0 and is statistically significant, meaning the higher the `rank_score_2017` value goes, the higher the corresponding `saleprice` is. That tallies with our presumption.

But since we haven't yet taken in any control variables, this regression is pretty useless. However, it could be a good preparation for more sophisticated analyses.

### Making choropleths

We can make 2 choropleths to (hopefully) visualize our preliminary analysis.

Note to self: when base maps and dots don't appear together, check each layer's rendering.

In [25]:
# Calculating the mean saleprice for each school district
df_mean = pd.DataFrame(df_joined.groupby(by='schooldist').saleprice.mean(), df_joined.schooldist)

In [26]:
df_mean.drop_duplicates(inplace=True)

In [27]:
df = pd.merge(df_merged, df_mean, how='left', left_on='schooldist', right_on='schooldist', sort=False)

In [28]:
df.rename(columns={'saleprice_x':'saleprice','saleprice_y':'mean_saleprice'}, inplace=True)

In [ ]:
df.to_csv('merged.csv', index=False)

I use QGIS to join the datasets and make choropleths. Since school district rating data for Queens is missing, which wasn't so obvious until I mapped the data in QGIS, I filtered out the same area in the sale price data.

- Choropleth 1. NYC school districts 2017 rank scores
<img src="screenshots/rank.png">

- Choropleth 2. NYC school districts mean sale prices
<img src="screenshots/price.png">

Hmm... The correlation doesn't seem so strong in the choropleths. And it is clear now that we make these choropleths -- that (some) school districts are too big. For instance, Staten Island is just one big district, and if its school district ranking is anything different than its mean sale price ranking, it's going to be *very* obvious on the maps.

## Going forward

Below are some steps going forward.

- Find supplement data for Queens
- Add more control variables to the model
- Include other school types (as variables) in the model
- Find a better fit (now it's OLS)
- Include more school ranking/rating data (different sources)
- Research topic: segregation in NYC schools
- Getting data back in time: from cross-sectional data to panel data
- Migrate the maps to html, adding interactive elements to them (after more analyses are done)
---

## (Try) going forward

Going forward, we would want to do an analysis using school *zones* instead of school *districts*, which render our analysis granular.

Apparently, in NYC, school zones are different than school districts (naming is not even *close* to consistent on the internet). From what I read, districts are larger and zones are smaller. Doing an analysis using zones would presumably yield more accurate results.

[NYC Open Data](https://opendata.cityofnewyork.us/) provides [school zones data](https://data.cityofnewyork.us/Education/2017-2018-School-Zones/ghq4-ydq4/data) and [public school locations](https://data.cityofnewyork.us/Education/School-Point-Locations/jfju-ynrr) for downloads. This time, we start by making observations in QGIS.

- Map of NYC school zones and public school locations
<img src='screenshots/sz+locations.png'>

I exported the `Public_Schools` layer to a csv file.

In [29]:
df_ps = pd.read_csv('shapefiles/nyc_public_school_locations/public_schools.csv')

In [30]:
pd.set_option('display.max_colwidth',999)

In [31]:
df_ps.head()

,ATS_CODE,BORO,BORONUM,LOC_CODE,SCHOOLNAME,SCH_TYPE,MANAGED_BY,GEO_DISTRI,ADMIN_DIST,ADDRESS,STATE_CODE,ZIP,PRINCIPAL,PRIN_PH,FAX,GRADES,City
0,15K001 �����,K,2,K001,P.S. 001 THE BERGEN,Elementary,1,15,15,309 47 STREET,NY,11220,Jennifer Eusanio,718-567-7661,718-567-9771,"PK,0K,01,02,03,04,05,SE",BROOKLYN
1,17K002 �����,K,2,K002,M.S. 002,Junior High-Intermediate-Middle,1,17,17,655 PARKSIDE AVENUE,NY,11226,ADRIENNE SPENCER,718-462-6992,718-284-7717,"06,07,08,SE",BROOKLYN
2,21K095 �����,K,2,K095,P.S. 095 THE GRAVESEND,K-8,1,21,21,345 VAN SICKLEN STREET,NY,11223,Janet Ndzibah,718-449-5050,718-449-3047,"PK,0K,01,02,03,04,05,06,07,08,SE",BROOKLYN
3,21K096 �����,K,2,K096,I.S. 096 SETH LOW,Junior High-Intermediate-Middle,1,21,21,99 AVENUE P,NY,11204,Denise Sandra Levinsky,718-236-1344,718-236-2397,"06,07,08,SE",BROOKLYN
4,21K097 �����,K,2,K097,P.S. 97 THE HIGHLAWN,Elementary,1,21,21,1855 STILLWELL AVENUE,NY,11223,KRISTINE MUSTILLO,718-372-7393,718-372-3842,"PK,0K,01,02,03,04,05,SE",BROOKLYN
5,21K098 �����,K,2,K098,I.S. 98 BAY ACADEMY,Junior High-Intermediate-Middle,1,21,21,1401 EMMONS AVENUE,NY,11235,MARIA TIMO,718-891-9005,718-891-3865,"06,07,08,SE",BROOKLYN
6,21K099 �����,K,2,K099,P.S. 099 ISAAC ASIMOV,K-8,1,21,21,1120 EAST 10 STREET,NY,11230,GREGORY PIRRAGLIA,718-338-9201,718-951-0418,"PK,0K,01,02,03,04,05,06,07,08,SE",BROOKLYN
7,21K100 �����,K,2,K100,P.S. 100 THE CONEY ISLAND SCHOOL,Elementary,1,21,21,2951 WEST 3 STREET,NY,11224,Katherine A. Moloney,718-266-9477,718-266-7112,"PK,0K,01,02,03,04,05,SE",BROOKLYN
8,21K101 �����,K,2,K101,P.S. 101 THE VERRAZANO,Elementary,1,21,21,2360 BENSON AVENUE,NY,11214,GREGG KORROL,718-372-0221,718-372-1873,"PK,0K,01,02,03,04,05,SE",BROOKLYN
9,20K102 �����,K,2,K102,P.S. 102 THE BAYVIEW,Elementary,1,20,20,211 72 STREET,NY,11209,Ms. Theresa Dovi,718-748-7404,718-836-9265,"0K,01,02,03,04,05,SE",BROOKLYN
10,13K103 �����,K,2,K103,SATELLITE THREE,Junior High-Intermediate-Middle,1,13,13,170 GATES AVENUE,NY,11238,Beatrice Thompson,718-789-5835,718-789-5814,"06,07,08,SE",BROOKLYN
11,20K104 �����,K,2,K104,P.S./I.S. 104 THE FORT HAMILTON SCHOOL,K-8,1,20,20,9115 5 AVENUE,NY,11209,Ms. Marie DiBella,718-836-4630,718-836-9412,"0K,01,02,03,04,05,06,07,08,SE",BROOKLYN
12,20K105 �����,K,2,K105,P.S. 105 THE BLYTHEBOURNE,Elementary,1,20,20,1031 59 STREET,NY,11219,JOHANNA CASTRONOVO,718-438-3230,718-853-9633,"PK,0K,01,02,03,04,05,SE",BROOKLYN
13,32K106 �����,K,2,K106,P.S. 106 EDWARD EVERETT HALE,Elementary,1,32,32,1328 PUTNAM AVENUE,NY,11221,ROBERT FLORES,718-574-0261,718-574-1054,"PK,0K,01,02,03,04,05,SE",BROOKLYN
14,15K107 �����,K,2,K107,P.S. 107 JOHN W. KIMBALL,Elementary,1,15,15,1301 8 AVENUE,NY,11215,CYNTHIA HOLTON,718-499-2054,718-965-6479,"PK,0K,01,02,03,04,05,SE",BROOKLYN
15,19K108 �����,K,2,K108,P.S. 108 SAL ABBRACCIAMENTO,Elementary,1,19,19,200 LINWOOD STREET,NY,11208,CONSTANCE HAHN,718-277-7010,718-827-4137,"0K,01,02,03,04,05,SE",BROOKLYN
16,22K109 �����,K,2,K109,P.S. 109,K-8,1,22,22,1001 EAST 45 STREET,NY,11203,Joan Thomas,718-693-3426,718-693-3072,"0K,01,02,03,04,05,06,07,08,SE",BROOKLYN
17,14K110 �����,K,2,K110,P.S. 110 THE MONITOR,Elementary,1,14,14,124 MONITOR STREET,NY,11222,ANNA CANO AMATO,718-383-7600,718-383-5053,"PK,0K,01,02,03,04,05,SE",BROOKLYN
18,20K112 �����,K,2,K112,P.S. 112 LEFFERTS PARK,Elementary,1,20,20,7115 15 AVENUE,NY,11228,Louise Verdemare (Alfano),718-232-0685,718-232-3609,"0K,01,02,03,04,05,SE",BROOKLYN
19,13K113 �����,K,2,K113,M.S. 113 RONALD EDMONDS LEARNING CENTER,Junior High-Intermediate-Middle,1,13,13,300 ADELPHI STREET,NY,11205,Dawnique Daughtry,718-834-6734,718-596-2802,"06,07,08,SE",BROOKLYN
20,18K114 �����,K,2,K114,P.S. 114 RYDER ELEMENTARY,Elementary,1,18,18,1077 REMSEN AVENUE,NY,11236,Darwin Smith,718-257-4428,718-649-5216,"PK,0K,01,02,03,04,05,SE",BROOKLYN
21,18K115 �����,K,2,K115,P.S. 115 DANIEL MUCATEL SCHOOL,Elementary,1,18,18,1500 EAST 92 STREET,NY,11236,Denis Guerin,718-241-1000,718-209-1714,"PK,0K,01,02,03,04,05,SE",BROOKLYN
22,32K116 �����,K,2,K116,P.S. 116 ELIZABETH L FARRELL,Elementary,1,32,32,515 KNICKERBOCKER AVENUE,NY,11237,SEIW KONG,718-821-4623,718-821-0363,"0K,01,02,03,04,05,SE",BROOKLYN
23,22K119 �����,K,2,K119,P.S. 119 AMERSFORT,Elementary,1,22,22,3829 AVENUE K,NY,11210,LISA FERNANDEZ,718-377-7696,718-338-0694,"0K,01,02,03,04,05,SE",BROOKLYN
24,14K120 �����,K,2,K120,P.S. 120 CARLOS TAPIA,Elementary,1,14,14,18 BEAVER STREET,NY,11206,Liza Caraballo,718-455-1000,718-574-6637,"PK,0K,01,02,03,04,05,SE",BROOKLYN
25,21K121 �����,K,2,K121,P.S. 121 NELSON A. ROCKEFELLER,K-8,1,21,21,5301 20 AVENUE,NY,11204,LILLIAN CATALANO,718-377-8845,718-252-4075,"PK,0K,01,02,03,04,05,06,07,08,SE",BROOKLYN
26,32K123 �����,K,2,K123,P.S. 123 SUYDAM,Elementary,1,32,32,100 IRVING AVENUE,NY,11237,VERONICA GREENE,718-821-4810,718-821-0858,"0K,01,02,03,04,05,SE",BROOKLYN
27,15K124 �����,K,2,K124,P.S. 124 SILAS B. DUTCHER,Elementary,1,15,15,515 4 AVENUE,NY,11215,Annabelle Martinez,718-788-0246,718-965-9558,"PK,0K,01,02,03,04,05,SE",BROOKLYN
28,14K126 �����,K,2,K126,JOHN ERICSSON MIDDLE SCHOOL 126,Junior High-Intermediate-Middle,1,14,14,424 LEONARD STREET,NY,11222,ROSEMARY OCHOA,718-782-2527,718-302-2319,"06,07,08,SE",BROOKLYN
29,20K127 �����,K,2,K127,P.S. 127 MCKINLEY PARK,Elementary,1,20,20,7805 7 AVENUE,NY,11228,Agatha Alicandro,718-833-2323,718-836-9427,"0K,01,02,03,04,05,SE",BROOKLYN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679,10X524,X,2,X524,Crotona International High School,High school,1,10,10,2474 CROTONA AVENUE,NY,10458,Jesseca Long,718-935-3615,NaN,"09,10,11,12,SE",BRONX
1680,11X532,X,2,X532,Baychester Middle School,Junior High-Intermediate-Middle,1,11,11,3750 BAYCHESTER AVENUE,NY,10466,Shawn Mangar,718-935-3577,NaN,"06,07,08,SE",BRONX
1681,11X529,X,2,X529,One World Middle School at Edenwald,Junior High-Intermediate-Middle,1,11,11,3750 BAYCHESTER AVENUE,NY,10466,Patricia Wynne,718-935-3587,NaN,"06,07,08,SE",BRONX
1682,12X531,X,2,X531,Archer Elementary School,Elementary,1,12,12,1827 ARCHER STREET,NY,10460,Zak Haviland,718-935-3601,NaN,"0K,01,02,03,04,05,06,SE",BRONX
1683,12X536,X,2,X536,PS 536,Elementary,1,12,12,1827 ARCHER STREET,NY,10460,Sasha Medina,718-935-3605,NaN,"0K,01,02,03,04,05,SE",BRONX
1684,02M507,M,1,M507,Urban Assembly Gateway School for Technology,High school,1,2,2,439 WEST 49TH STREET,NY,10019,April McKoy,718-935-3523,NaN,"09,10,11,12,SE",MANHATTAN
1685,05M514,M,1,M514,New Design Middle School,Junior High-Intermediate-Middle,1,5,5,625 WEST 133 STREET,NY,10027,Dan Black,718-935-3597,NaN,"06,07,08",MANHATTAN
1686,05M517,M,1,M517,Teachers College Community School,Elementary,1,5,5,2121 5 AVENUE,NY,10037,Jeanene Worrell Breeden,718-935-3621,NaN,"0K,01,02,03,04,05,SE",MANHATTAN
1687,24Q585,Q,4,Q585,Maspeth High School,High school,1,24,24,54-40 74TH STREET,NY,11373,Kurshid Abdul-Mutakabbir,718-935-3530,NaN,"09,10,11,12,SE",QUEENS
1688,29Q355,Q,4,Q355,Collaborative Arts Middle School,Junior High-Intermediate-Middle,1,29,29,145-00 SPRINGFIELD BOULEVARD,NY,11413,Tammy Holloway,718-935-3598,NaN,"06,07,08,SE",QUEENS
1689,29Q356,Q,4,Q356,Community Voices Middle School,Junior High-Intermediate-Middle,1,29,29,145-00 SPRINGFIELD BOULEVARD,NY,11413,Tamra Collins,718-935-3604,NaN,"06,07,08,SE",QUEENS
1690,28Q354,Q,4,Q354,PS 354,Elementary,1,28,28,126-10 BEDELL STREET,NY,11434,Jermaine Green,718-935-3610,NaN,"01,02,03,04,05,SE",QUEENS
1691,32K168,K,3,K168,Brooklyn School for Math and Research,High school,1,32,32,400 IRVING AVENUE,NY,11237,Perry Rainey,718-935-3531,NaN,"09,10,11,12,SE",BROOKLYN
1692,15K684,K,3,K684,Millennium High School,High school,1,15,15,237 7 AVENUE,NY,11215,Lisa Gioe,718-935-3550,NaN,"09,10,11,12,SE",BROOKLYN
1693,23K401,K,3,K401,Christopher Avenue Community School,Elementary,1,23,23,51 CHRISTOPHER AVENUE,NY,11212,Lisa Bignall-Brice,718-935-3607,NaN,"01,02,03,04,05,SE",BROOKLYN
1694,19K325,K,3,K325,The Fresh Creek School,Elementary,1,19,19,875 WILLIAMS AVENUE,NY,11207,Jacquie Danvers Coombs,718-935-3608,NaN,"0K,01,02,03,04,05,SE",BROOKLYN
1695,84K367,K,3,K367,Brooklyn Success Academy Charter School 1,Elementary,2,14,84,70 TOMPKINS AVENUE,NY,11206,NaN,NaN,NaN,"0K,01,02,03,04,05,SE",BROOKLYN
1696,84K379,K,3,K379,Explore Excel Charter School,Elementary,2,18,84,1077 REMSEN AVENUE,NY,11236,NaN,NaN,NaN,"0K,01,02,03,04,05,06,SE",BROOKLYN
1697,84K386,K,3,K386,Invictus Preparatory Charter School,Junior High-Intermediate-Middle,2,19,84,370 FOUNTAIN AVENUE,NY,11208,NaN,NaN,NaN,"05,06,07,08,SE",BROOKLYN
1698,84K406,K,3,K406,Teaching Firms of America-Professional Preparatory Charter Sc,Elementary,2,16,84,616 QUINCY STREET,NY,11221,NaN,NaN,NaN,"0K,01,02,03,04,05,SE",BROOKLYN
1699,84M518,M,1,M518,East Harlem Scholars Academy Charter School,Elementary,2,4,84,1573 MADISON AVENUE,NY,10029,NaN,NaN,NaN,"0K,01,SE",MANHATTAN
1700,84M522,M,1,M522,Broome Street Academy Charter High School,High school,2,2,84,121 AVENUE OF THE AMERICAS,NY,10013,NaN,NaN,NaN,"09,SE",MANHATTAN
1701,84M523,M,1,M523,Upper West Success Academy Charter School,Elementary,2,3,64,145 WEST 84 STREET,NY,10024,NaN,NaN,NaN,"0K,01,SE",MANHATTAN
1702,84M524,M,1,M524,Innovate Manhattan Charter School,Junior High-Intermediate-Middle,2,2,84,52 CHAMBERS STREET,NY,10007,NaN,NaN,NaN,"06,07,SE",MANHATTAN
1703,84M525,M,1,M525,Democracy Preparatory 3 Charter School,Junior High-Intermediate-Middle,2,5,84,2230 5 AVENUE,NY,10037,NaN,NaN,NaN,"06,SE",MANHATTAN
1704,84Q359,Q,4,Q359,Academy of the City Charter School,Elementary,2,30,84,36-14 12TH STREET,NY,11106,NaN,NaN,NaN,"0K,01,SE",QUEENS
1705,84X538,X,2,X538,Icahn Charter School 5,Elementary,2,11,84,1500 PELHAM PARKWAY SOUTH,NY,10461,NaN,NaN,NaN,"0K,01,02,SE",BRONX
1706,84X539,X,2,X539,The New Visions Charter High School for Advanced Math and Sci,High school,2,10,84,99 TERRACE VIEW AVENUE,NY,10463,NaN,NaN,NaN,"09,SE",BRONX
1707,84X553,X,2,X553,The New Visions Charter High School for the Humanities,High school,2,10,84,99 TERRACE VIEW AVENUE,NY,10463,NaN,NaN,NaN,"09,SE",BRONX
1708,84X554,X,2,X554,New York City Montessori Charter School,Elementary,2,7,84,416 WILLIS AVENUE,NY,10454,NaN,NaN,NaN,"0K,01,SE",BRONX

We already scraped GreatSchools so now we're going to use that data again, more efficiently. To use it we have to join `df_school` and `df_ps`.

In [32]:
df_school.head()

,rating,schooladdress,schooldist,schoolname
0,10,"522 West 44th Street, New York, NY 10036",Nyc Geog District # 3 - Manhattan,Beacon High School
1,10,"45 East 81st Street, New York, NY 10028",Nyc Geog District # 2 - Manhattan,Ps 6 Lillie D Blake
2,10,"319 East 19th Street, New York, NY 10003",Nyc Geog District # 2 - Manhattan,P.S. 40 Augustus St.-Gaudens
3,10,"116 West 11th Street, New York, NY 10011",Nyc Geog District # 2 - Manhattan,P.S. 41 Greenwich Village
4,10,"103 West 107th Street, New York, NY 10025",Nyc Geog District # 3 - Manhattan,Jhs 54 Booker T Washington
5,10,"249 West 56th Street, New York, NY 10019",Nyc Geog District # 2 - Manhattan,Ps 59 Beekman Hill International
6,10,"285 Delancey Street, New York, NY 10002",Nyc Geog District # 1 - Manhattan,Ps 110 Florence Nightingale
7,10,"143 Baxter Street, New York, NY 10013",Nyc Geog District # 2 - Manhattan,Ps 130 Hernando De Soto
8,10,"334 Greenwich Street, New York, NY 10013",Nyc Geog District # 2 - Manhattan,Ps 150
9,10,"220 East 76th Street, New York, NY 10021",Nyc Geog District # 2 - Manhattan,Jhs 167 Robert F Wagner
10,10,"419 East 66th Street, New York, NY 10065",Nyc Geog District # 2 - Manhattan,Ps 183 Robert L Stevenson
11,10,"345 Chambers Street, New York, NY 10282",Nyc Geog District # 2 - Manhattan,Stuyvesant High School
12,10,"201 Warren Street, New York, NY 10282",Nyc Geog District # 2 - Manhattan,Ps 89
13,10,"292 Greenwich Street, New York, NY 10007",Nyc Geog District # 2 - Manhattan,Ps 234 Independence School
14,10,"1700 3rd Avenue, New York, NY 10128",Nyc Geog District # 2 - Manhattan,Ps 77 Lower Lab School
15,10,"319 East 19th Street, New York, NY 10003",Nyc Geog District # 2 - Manhattan,Ms 255 Salk School Of Science
16,10,"331 East 91st Street, New York, NY 10128",Nyc Geog District # 2 - Manhattan,East Side Middle School
17,10,"411 East 76th Street, New York, NY 10021",Nyc Geog District # 2 - Manhattan,Eleanor Roosevelt High School
18,10,"890 Broadway, New York, NY 10003",Nyc Geog District # 2 - Manhattan,Ballet Tech Nyc Ps For Dance
19,10,"240 East 109th Street, New York, NY 10029",Nyc Geog District # 4 - Manhattan,Tag Young Scholars
20,10,"240 Convent Avenue, New York, NY 10031",Nyc Geog District # 5 - Manhattan,High School Math Science And Engineering At Ccny
21,10,"55 Battery Pl, New York, NY 10011",Nyc Geog District # 2 - Manhattan,Battery Park City School
22,10,"12 Spruce Street, New York, NY 10038",Nyc Geog District # 2 - Manhattan,Spruce Street School
23,10,"144 East 128th Street, New York, NY 10035",Nyc Geog District # 5 - Manhattan,Success Academy Charter School-Harlem 2
24,10,"100 West 77th Street, New York, NY 10024",Nyc Geog District # 3 - Manhattan,Ps 452
25,10,"213 East 63rd Street, New York, NY 10065",Nyc Geog District # 2 - Manhattan,"East Side Elementary School, PS 267"
26,10,"323 East 91st Street, New York, NY 10128",Nyc Geog District # 2 - Manhattan,P.S. 527 East Side School-Social Actio
27,10,"439 West 49th Street, New York, NY 10019",Nyc Geog District # 2 - Manhattan,Success Academy Hell's Kitchen
28,9,"43 West 22nd Street, New York, NY 10010",Nyc Geog District # 2 - Manhattan,Manhattan Village Academy
29,9,"311 East 82nd Street, New York, NY 10028",Nyc Geog District # 2 - Manhattan,Ps 290 Manhattan New School
...,...,...,...,...
295,2,"2589 7th Avenue, New York, NY 10039",Nyc Geog District # 5 - Manhattan,Ps 200 The James Mccune Smith School
296,2,"21 West 111th Street, New York, NY 10026",Nyc Geog District # 3 - Manhattan,Ps 208 Alain L Locke
297,2,"351 West 18th Street, New York, NY 10011",Nyc Geog District # 2 - Manhattan,Humanities Preparatory Academy
298,2,"549 Audubon Avenue, New York, NY 10040",Nyc Geog District # 6 - Manhattan,High School for International-Business & Finance
299,2,"549 Audubon Avenue, New York, NY 10040",Nyc Geog District # 6 - Manhattan,High School for Media & Communications
300,2,"549 Audubon Avenue, New York, NY 10040",Nyc Geog District # 6 - Manhattan,High School for Health Careers & Sciences
301,2,"320 East 96th Street, New York, NY 10128",Nyc Geog District # 2 - Manhattan,Life Sciences Secondary School
302,2,"509 West 129th Street, New York, NY 10027",Nyc Geog District # 5 - Manhattan,Is 286 Renaissance Military Leadership Academy
303,2,"216 East 120th Street, New York, NY 10035",Nyc Geog District # 4 - Manhattan,PS 96 Joseph Lanzetta
304,2,"10 Astor Place, New York, NY 10003",Nyc Geog District # 2 - Manhattan,Harvey Milk High School
305,2,"99 Terrace View Avenue, New York, NY 10463",Nyc Geog District #10 - Bronx,Bronx Theatre High School
306,2,"122 Amsterdam Avenue, New York, NY 10023",Nyc Geog District # 3 - Manhattan,"High School for Arts, Imagination and Inquiry"
307,2,"500 West 138th Street, New York, NY 10031",Nyc Geog District # 6 - Manhattan,Ps 325
308,2,"525 West 50th Street, New York, NY 10019",Nyc Geog District # 2 - Manhattan,High School Of Hospitality Management
309,2,"99 Terrace View Avenue, New York, NY 10463",Nyc Geog District #10 - Bronx,Bronx School Of Law And Finance
310,2,"198 Forsyth Street, New York, NY 10002",Nyc Geog District # 1 - Manhattan,Cascades High School
311,2,"250 West 18th Street, New York, NY 10011",Nyc Geog District # 2 - Manhattan,Liberty High School Academy For Newcomers
312,2,"509 West 129th Street, New York, NY 10027",Nyc Geog District # 5 - Manhattan,Academy For Social Action A College Board School
313,2,"509 West 129th Street, New York, NY 10027",Nyc Geog District # 5 - Manhattan,Urban Assembly for the Performing Arts
314,2,"26 Broadway, New York, NY 10004",Nyc Geog District # 2 - Manhattan,Urban Assembly School Of Business For Young Women
315,2,"145 West 84th Street, New York, NY 10024",Nyc Geog District # 3 - Manhattan,The Global Learning Collaborative
316,2,"2351 1st Avenue, New York, NY 10035",Nyc Geog District # 4 - Manhattan,Coalition School For Social Change
317,2,"650 Academy Street, New York, NY 10034",Nyc Geog District # 6 - Manhattan,High School For Excellence And Innovation
318,2,"999 Jamaica Avenue, New York, NY 11208",Nyc Geog District #19 - Brooklyn,Brooklyn Lab School
319,2,"198 Forsyth Street, New York, NY 10002",Nyc Geog District # 1 - Manhattan,Forsythe Satellite Academy
320,2,"351 West 18th Street, New York, NY 10011",Nyc Geog District # 2 - Manhattan,Hudson High School Of Learning Technologies
321,2,"111 East 33rd Street, New York, NY 10016",Nyc Geog District # 2 - Manhattan,Manhattan Academy For Arts And Languages
322,2,"625 West 133rd Street, New York, NY 10027",Nyc Geog District # 5 - Manhattan,New Design Middle School
323,2,"99 Terrace View Avenue, New York, NY 10463",Nyc Geog District #10 - Bronx,The New Visions Charter High School For The Humani
324,2,"99 Terrace View Avenue, New York, NY 10463",Nyc Geog District #10 - Bronx,New Visions Charter High School For Advanced Math

As the above dataframes show, there are 2 possible columns on which we may join `df_ps` and `df_school`: name, or address (I went for address). Both of these two pairs have different formats so it's not possible to simple do a join on either one. The first solution that came to me was doing a fuzzy match as shown in the below cell, but before that I used some simple regex or methods on `df_school['schooladdress']` to get it closer to the corresponding column in `df_ps[]`.

In [33]:
pd.set_option('display.max_rows',1000)

df_school['address_cleaned'] = df_school['schooladdress'].replace(r', New York, NY.*', '', regex=True).str.upper()
# Do not use capture groups in .replace like this:
# df_school['address_cleaned'] = df_school['schooladdress'].replace(r'.*', r'(.*), New York, ', regex=True)
# Instead, use .extract for capture groups to work:
# df_school['schooladdress'].str.extract(r'(.*), New York')

In [34]:
df_school.head()

,rating,schooladdress,schooldist,schoolname,address_cleaned
0,10,"522 West 44th Street, New York, NY 10036",Nyc Geog District # 3 - Manhattan,Beacon High School,522 WEST 44TH STREET
1,10,"45 East 81st Street, New York, NY 10028",Nyc Geog District # 2 - Manhattan,Ps 6 Lillie D Blake,45 EAST 81ST STREET
2,10,"319 East 19th Street, New York, NY 10003",Nyc Geog District # 2 - Manhattan,P.S. 40 Augustus St.-Gaudens,319 EAST 19TH STREET
3,10,"116 West 11th Street, New York, NY 10011",Nyc Geog District # 2 - Manhattan,P.S. 41 Greenwich Village,116 WEST 11TH STREET
4,10,"103 West 107th Street, New York, NY 10025",Nyc Geog District # 3 - Manhattan,Jhs 54 Booker T Washington,103 WEST 107TH STREET

[Combining Datasets with Fuzzy Matching](https://medium.com/@rtjeannier/combining-data-sets-with-fuzzy-matching-17efcb510ab2) and Soma's FuzzyWuzzy notebook are good primers of the library.

In [35]:
from fuzzywuzzy import fuzz

In [36]:
choices = df_ps['ADDRESS'].unique()

In [39]:
def match_address(address, address_list, min_score=0):
    max_score = -1
    max_address = ''
    for a in address_list:
        score = fuzz.token_sort_ratio(address, a)
        if (score > min_score) & (score > max_score):
            max_score = score
            max_address = a
    return (max_address, max_score)

Note to self: [difference between `and` and `&`](https://stackoverflow.com/questions/22646463/difference-between-and-boolean-vs-bitwise-in-python-why-difference-i)

In [42]:
matches = []
for address in choices:
    match = match_address(address, df_school.address_cleaned, 94)
    address_match = {}
    address_match.update({"address" : address})
    address_match.update({"match_address" : match[0]})
    address_match.update({"score" : match[1]})
    matches.append(address_match)
    
df_matches = pd.DataFrame(matches)

In [45]:
df_matches.head()

                  address match_address  score
0           309 47 STREET                   -1
1     655 PARKSIDE AVENUE                   -1
2  345 VAN SICKLEN STREET                   -1
3             99 AVENUE P                   -1
4   1855 STILLWELL AVENUE                   -1

In [46]:
df_matches[df_matches['score']>0].head()

                 address          match_address  score
233   999 JAMAICA AVENUE     999 JAMAICA AVENUE    100
315       8 HENRY STREET         8 HENRY STREET    100
316     122 HENRY STREET       122 HENRY STREET    100
317    490 HUDSON STREET      490 HUDSON STREET    100
318  500 WEST 160 STREET  500 WEST 160TH STREET     95

---
#### Random thoughts

This project is still a work in progress. There're many forking paths left unvisited.

Through doing this project I came to "rediscover" the necessity of statistics. When analyzing such variables as property values, choropleths, summary tables, or even single-variable regressions just won't be good enough. Maybe sometimes there's this anti-statistics attitude in journalism, but I'd like to say that these equations exist for a reason, and data journalists shouldn't shy away from them. When it's better that we use these tools, we should use them; it's being responsible for the readers. How to use the tools but at the same time make the resulting piece a fun to read would be a top concern for data journalists.